<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - @System.Configuration.ConfigurationManager.AppSettings["ApplicationName"].ToString()</title>
    @Styles.Render("~/Content/css")

    <link href="~/Content/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

    @*@Scripts.Render("~/bundles/bootstrap")*@

    <script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <script>
        var GlobalMsg = "@ViewBag.OperationResult";
        $(document).ready(function () {
            if (GlobalMsg != "") {
                $('#spnGlobalPartialMsg').html(GlobalMsg);
                $("#dvGlobalPartialMsg").dialog({
                    resizable: false,
                    modal: true
                });
            }
        })
    </script>


</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary">
        <div class="container">
            @Html.ActionLink("Inventory Management", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>
    </nav>
    <!--Side Navbar-->
    <div class="side-navbar">
        <div class="user-profile">
            <img src="~/Content/img/userProfile.png" alt="User Profile Picture">
            @{
                if (Session["User"] != null)
                {
                    <p>@Session["User"]</p>
                }
            }

        </div>
        <ul>
            <li><a href="#"><i class="bi bi-database"></i>Inventory</a></li>
            <li><a href="#vendorTable"><i class="bi bi-airplane"></i>Vendor </a></li>
            <li><a href="#"><i class="bi bi-people"></i>Customer </a></li>
            <li><a href="#orderTable"><i class="bi bi-box-seam"></i>Orders</a></li>
            <li><a href="#report"><i class="bi bi-file-earmark-spreadsheet"></i>Report</a></li>
            <li><a href="#"><i class="bi bi-info-square"></i>Support</a></li>
            <li><a href="#"><i class="bi bi-question-diamond"></i>FAQs</a></li>
            <li><a href="@Url.Action("Logout", "Account")"><i class="bi bi-box-arrow-left"></i>Logout</a></li>

        </ul>
    </div>

    <!--End of Side Navbar-->
    <!--Body Content-->
    <div class="main-content">
        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>
        <footer>
            <p>
                &copy; @DateTime.Now.Year - Inventory Management System Version 1.0 develop by Rasel
                Kibria
            </p>
        </footer>
    </div>



    <!--End of Body Content-->

    @Html.Partial("~/Views/Common/_PartialGlobalMsg.cshtml")

    @RenderSection("scripts", required: false)
</body>
</html>
