@model InventoryManagement.Models.Account
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <!--CSS-->
    <link href="~/Content/Style/ajax_libs_font_awesome_all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="~/Content/Style/LoginStyleSheet.css" rel="stylesheet">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*@Styles.Render("~/Content/custom_css")*@
    <link href="~/Content/JqueryUI/jquery-ui.min.css" rel="stylesheet" />
    <!--Script -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @*@Scripts.Render("~/bundles/custom_script")*@
    <script src="~/Scripts/CustomScript/myScript.js"></script>
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>

    <script src="~/Scripts/JqueryUI/jquery-ui.min.js"></script>

    <script>
        var GlobalMsg = '@ViewBag.LoginMsg';
          $(document).ready(function () {
              if (GlobalMsg != "") {
                  $('#spnGlobalPartialMsg').html(GlobalMsg);
                  $("#dvGlobalPartialMsg").dialog({
                      resizable: false,
                      modal: true
                  });
              }
              if (GlobalMsg == "Login Success") {
                  setTimeout(function () {
                      window.location.href = '@Url.Action("Dashboard","Home")';
                  }, 2000);
              }
          })
    </script>

</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="login-container">
                    <h2 class="text-center mb-4">Login</h2>
                    @using (Html.BeginForm("Login", "Account"))
                    {
                        <div class="form-group">
                            <label for="username">Username</label>
                            @*<input type="text" class="form-control" name="txtUsername" placeholder="Enter your username">*@
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", name = "txtUsername", placeholder = "Enter your username" })
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                @*<input type="password" class="form-control" name="txtPassword" placeholder="Enter your password">*@
                                @Html.TextBoxFor(m => m.Password, new { type = "password", @class = "form-control", name = "txtPassword", placeholder = "Enter your password" })
                                <div class="input-group-append">
                                    <span class="input-group-text toggle-password" data-target="#password">
                                        <i class="fas fa-eye"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-footer">
                            <button type="submit" class="btn btn-primary btn-block" name="btnSubmit" value="Login">Login</button>
                            <label>Don't have an account? @Html.ActionLink("Create new account", "Registration", "Account")  </label>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @Html.Partial("~/Views/Common/_PartialGlobalMsg.cshtml")
</body>
</html>
