@using InventoryManagement.Models;


@{
    ViewBag.Title = "Dashboard";
}

<script>
    function showEquipmentEntryPanel() {
        $("#partialEntryPanel").dialog({
            resizable: false,
            height: 500,
            width: 1000,
            modal: true
        });
        return false;  // to prevent post-back
    }
</script>
<!--Card-->
<div class="row mt-4">
    <div class="col-md-3">
        <div class="card" style="background-color: #5592ed">
            <div class="card-body">
                <i class="bi bi-person-vcard-fill"></i>
                <p>Total Employee</p>
                <h3>10</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color:#3ece9c">
            <div class="card-body">
                <i class="bi bi-diagram-3"></i>
                <p>Categories</p>
                <h3>30</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #57f646">
            <div class="card-body">
                <i class="bi bi-box-seam"></i>
                <p>Total Product</p>
                <h3>1350</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #f84848">
            <div class="card-body">
                <i class="bi bi-cart-x"></i>
                <p>Out of Stock</p>
                <h3>30</h3>
            </div>
        </div>
    </div>

</div>

<div class="row mt-4">
    <div class="col-md-3">
        <div class="card" style="background-color: #cb8bf8">
            <div class="card-body">
                <i class="bi bi-person-video2"></i>
                <p>Total Customer</p>
                <h3>378</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color:#f79696">
            <div class="card-body">
                <i class="bi bi-calendar3-event"></i>
                <p>Today's Sale</p>
                <h3>৳5500</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #e944f5">
            <div class="card-body">
                <i class="bi bi-calendar3"></i>
                <p>Monthly Sales</p>
                <h3>৳155000</h3>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card" style="background-color: #90c3f3">
            <div class="card-body">
                <i class="bi bi-receipt"></i>
                <p>Yearly Sales</p>
                <h3>৳125000</h3>
            </div>
        </div>
    </div>

</div>
@*End of Card*@




@*Equipment Table*@

<form action="/Home/Dashboard" method="post">
    <div class="table-top">
        <span class="table-title">Equipment Table</span>
        <div class="btn-group mt-2 mt-md-0 ml-md-auto">
            <input type="button" class="btn btn-warning" name="btnAddNewEquipment" id="btnAddNewEquipment" onclick="return showEquipmentEntryPanel()" value="Add New Equipment" />
        </div>
        <div class="search-container">
            <input type="text" class="form-control" id="search-input" name="equipmentTxtName" placeholder="Search...">
            <button id="search-btn" value="search" name="filterBtn">Search</button>
            <button id="clear-btn" value="clear" name="filterBtn">Clear</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="table-container">
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>Entry Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            List<Equipment> equipmentListData = ViewBag.equipmentDataList;
                        }

                        @foreach (Equipment obj in equipmentListData)
                        {
                            if (ViewBag.equipmentTxt != "")
                            {
                                if (obj.Name == ViewBag.equipmentTxt)
                                {
                                    <tr>
                                        <td>@obj.Name</td>
                                        <td>@obj.EqCount</td>
                                        <td>@obj.EntryDate</td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td>@obj.Name</td>
                                    <td>@obj.EqCount</td>
                                    <td>@obj.EntryDate</td>
                                </tr>
                            }

                        }

                    </tbody>
                </table>

            </div>
        </div>
        @Html.Partial("~/Views/Home/_PartiaEquipmentEntry.cshtml")
    </div>
</form>

<hr />
@*End of Equipment Table*@






@*Order Table*@
@*<form action="/Home/Dashboard" method="post">
        <div class="table-top">
            <span class="table-title">Order Table</span>
            <div class="search-container">
                <input type="text" class="form-control" id="search-input" name="orderTxt" placeholder="Search...">
                <button id="search-btn" value="search" name="filterBtn">Search</button>
                <button id="clear-btn" value="clear" name="filterBtn">Clear</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Customer Id</th>
                                <th>Order Id</th>
                                <th>Order Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<Order> orderListData = ViewBag.orderListData;
                            }

                            @foreach (Order obj in orderListData)
                            {
                                if (ViewBag.orderTxt != "")
                                {
                                    if (obj.OrderId == ViewBag.orderTxt || obj.Status == ViewBag.orderTxt)
                                    {
                                        <tr>
                                            <td>@obj.CustomerId</td>
                                            <td>@obj.OrderId</td>
                                            <td>@obj.OrderDate</td>
                                            <td>@obj.Status</td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr>
                                        <td>@obj.CustomerId</td>
                                        <td>@obj.OrderId</td>
                                        <td>@obj.OrderDate</td>
                                        <td>@obj.Status</td>
                                    </tr>
                                }

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <hr />*@
@*End of Order Table*@

@*Vendor Table*@
@*<form action="/Home/Dashboard" method="post">
        <div class="table-top">
            <span class="table-title">Vendor Table</span>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Supplier Name</th>
                                <th>Product ID</th>
                                <th>Product Quantity</th>
                                <th>Unit Price</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                List<Vendor> vendorListData = ViewBag.vendorListData;
                            }
                            @foreach (Vendor obj in vendorListData)
                            {

                                <tr>
                                    <td>@obj.SupplierName</td>
                                    <td>@obj.ProductId</td>
                                    <td>@obj.Quantity</td>
                                    <td>@obj.UnitPrice</td>
                                    @if (@obj.Status == 0)
                                    {
                                        <td>Reached in Warehouse</td>
                                    }
                                    else
                                    {
                                        <td>Processing</td>
                                    }
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
    <hr />*@
@*End of Vendor Table*@

@*Employee Table*@

@*<form action="/Home/Dashboard" method="post">
        <div class="table-top">
            <span class="table-title">Employee Table</span>

        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Age</th>
                                <th>Email</th>
                                <th>Salary</th>
                                <th>Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var obj in Model)
                            {
                                <tr>
                                    <td>@obj.Name</td>
                                    <td>@obj.Age</td>
                                    <td>@obj.Email</td>
                                    <td>@obj.Salary</td>
                                    <td>@obj.Designation</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </form>*@
@*End of Employee Table*@
